#main{
    display: flex;
}

.title-bar{
    background-image: url('./Cards-pics/blackjack_title-bar.png');
    height: 5.46cm;
    background-size: 34cm;
    margin-left: 0.5cm;
}

button {
    border: none;
    box-shadow: 5px 10px 18px #888888;
    width: 3cm;
    height: 0.7cm;
    outline: none;
}

button:active {
    box-shadow: 5px 10px 8px #888888;
}

button:hover {
    background-color: rgb(203, 203, 204);
    box-shadow: 5px 10px 8px #888888;
}

img {    
    box-shadow: -7px 1px 11px #8889DB;
    margin: 0.3cm -2cm 0 0;
    padding: 0 0 3px 0;
    width: 3.3cm;
    height: 4cm;
    -webkit-animation: animatezoom 0.2s;
    animation: animatezoom 0.3s;
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(-1)} 
    to {transform: scale(1)}
}

#inner-area,button{
    font-size: 0.5cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#inner-area{
    display: none;
}

.upper-div,.dealer-area,.player-area{
    margin: 0 11cm;
}

.buttons{
    margin: 0.5cm 12cm;
    padding: 0 2.5cm;
}

.dealer-area,.player-area{
    padding: 0 3cm;
    border: 3px solid antiquewhite;
}

.score{
    /* display: none; */
}

.cards{
    margin: 0 15cm;
}

.separator{
    height: 0.5cm;
}